.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background: #FFF;
    border-radius: 12px;

    & img{
        width: 24px;
        height: 24px;
    }
}

.logo-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;

    & h1{
        font-weight: normal;
        font-size: 16px;
    }

    & p{
        font-size: 14px;
        opacity: 0.5;
    }
}