.card{
    font-family: 'Inter', sans-serif;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 500px;
    padding: 20px;
    background: #27272a;
    color: #FFF;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.name-date{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#name{
    display: -webkit-box;
    font-size: 18px;
    word-break: break-all;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#tag{
    height: 16px;
    width: 16px;
}

#calendar{
    height: 12px;
    width: 12px;
}

#category{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.8;
    font-size: 14px;
}

#date{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.5;
    font-size: 12px;
}

#price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #F87171;
    font-size: 22px;
}

.expense-card-btn-img{
    width: 16px;
    height: 16px;
}

.expense-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 8px;
    background-color: #3F3F46;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

#remove-btn:hover{
    background-color: #EF4444;
}

#edit-btn:hover{
    background-color: #3B82F6;
}

.price-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-btns{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}