.chart-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    background: #18181B;
    border: 1px solid #27272A;
    padding: 30px;
    border-radius: 20px;
}