.neon-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    color: #FFF;
    padding: 24px;
    border-radius: 24px;

    & h1{
        font-weight: normal;
    }

    & p{
        opacity: 0.5;
    }
}

.neon-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;

    & img{
        height: 24px;
        width: 24px;
    }
}

.neon-icon-container.blue-icon{
    background: rgba(59, 130, 246, 0.2);
}

.neon-icon-container.purple-icon{
    background: rgba(168, 85, 247, 0.2);
}

.neon-icon-container.green-icon{
    background: rgba(34, 197, 94, 0.2);
}

.blue{
    background: linear-gradient(rgba(59, 130, 246, 0.1), rgba(59, 130, 246, 0.05));
    border: 1px solid rgba(59, 130, 246, 0.2);
}

.purple{
    background: linear-gradient(rgba(168, 85, 247, 0.1), rgba(168, 85, 247, 0.05));
    border: 1px solid rgba(168, 85, 247, 0.2); 
}

.green{
    background: linear-gradient(rgba(34, 197, 94, 0.1), rgba(34, 197, 94, 0.05));
    border: 1px solid rgba(34, 197, 94, 0.2);
}