.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 20px 300px;
    gap: 25px;
}

.neon-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.hidden{
    display: none;
}

.home-charts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info-wrapper{
    display: flex;
    justify-content: center;
    gap: 25px;
}