.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  max-width: 50%;
  width: 800px;
  margin-bottom: 20px;
  border: 1px solid #777;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2);
  opacity: 0;
  margin-top: 70px;
  transform: scale(0.8);
  transition: height 0.2s linear;
  transition: scale 0.5s ease-in-out, opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

form button{
  border-radius: 8px;
  background-color: #FFF;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  transition: opacity 0.2s linear;
}

form button:hover{
  opacity: 0.8;
}

form input{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFF;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

#description-text{
  color: #94A3B8;
}

.form-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.choice-container{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: font-weight 0.15s linear, color 0.15s linear;
}

.choice-container button{
  width: 200px;
  font-weight: 300;
  color: #CBD5E1;
  background: none;
  transition: background 0.2s linear;
  border-radius: 100px;
  cursor: pointer;
}

.choice-container button.active{
  color: #FFF;
  font-weight: bold;
}

.hidden{
  display: none;
}

.choice-slider{
  position: absolute;
  right: 0%;
  background: rgba(255, 255, 255, 0.5);
  width: 170px;
  height: 40px;
  border-radius: 100px;
  transition: right 0.15s ease-in;
}

form.form-init{
  margin-top: 0;
  transform: scale(1.1);
  opacity: 100;
}

.errorP{
  color: #FF2C2C;
}

.hidden{
  display: none;
}

.password-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  & input{
    width: 100%;
    padding-right: 50px;
  }
}