.view-password-button{
    position: absolute;
    display: flex;
    left: 88%;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;

    & img{
        height: 24px;
        width: 24px;
        opacity: 0.5;
    }
}