.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.register-expense-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 450px;
    background-color: #18181B;
    border: 1px solid #27272A;
    border-radius: 12px;
    padding: 30px;
    gap: 15px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    animation: slideUp 0.3s ease-in-out;

    & h1{
        margin-bottom: 10px;
    }
}


.register-expense-container h1{
    color: #FFF;
    font-size: 18px;
}

.register-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.register-input input{
    width: 100%;
    outline: none;
    height: 40px;
    border: 1px solid #3F3F46;
    background-color: #27272A;
    border-radius: 8px;
    color: #FFF;
    padding: 0 10px;
}

.register-expense-container label{
    color: #D4D4D8;
    font-size: 15px;
}

.register-expense-container button{
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s linear;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.register-expense-container button:hover{
    opacity: 0.7;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 10px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideDown {
    0% {
        opacity: 1;
        transform: translate(-50%, 50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 10px));
    }
}

@keyframes shake{
    0% {transform: translateX(0)}
    20% {transform: translateX(-4px)}
    40% {transform: translateX(4px)}
    60% {transform: translateX(-4px)}
    80% {transform: translateX(4px)}
    100% {transform: translateX(0)}
}

.shake{
    animation: shake 0.4s ease-in-out;
    border: 1px solid red !important; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.register-expense-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img{
        height: 12px;
        width: 12px;
    }

    & button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
    }
}